<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.vtp.desktop.model.core.projectAspects">
      <aspect
            factory="com.openmethods.openvxml.desktop.model.businessobjects.internal.BusinessObjectProjectAspectFactory"
            id="com.openmethods.openvxml.desktop.model.aspect.businessobjects">
      </aspect>
   </extension>

</plugin>
