<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         id="VoicePersonaBuilder"
         name="%persona.builder"
         point="org.eclipse.core.resources.builders">
      <builder hasNature="true">
         <run class="org.eclipse.vtp.desktop.projects.voice.builder.VoicePersonaBuilder"/>
      </builder>
   </extension>
   
   <extension
         id="VoicePersonaNature"
         name="%persona.nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run class="org.eclipse.vtp.desktop.projects.voice.builder.VoicePersonaNature"/>
      </runtime>
      <builder id="org.eclipse.vtp.desktop.projects.voice.VoicePersonaBuilder"/>
   </extension>

   <extension point="org.eclipse.ui.ide.projectNatureImages">
      <image id="org.eclipse.vtp.desktop.projects.voice.personaProjectNatureImage"
            natureId="org.eclipse.vtp.desktop.projects.voice.VoicePersonaNature"
            icon="icons/persona_nature.gif"/>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            canFinishEarly="false"
            category="org.eclipse.vtp.desktop.projects.core.wizards"
            class="org.eclipse.vtp.desktop.projects.voice.wizards.CreateVoiceWizard"
            hasPages="true"
            id="org.eclipse.vtp.desktop.projects.voice.wizard"
            name="Voice"
            project="true"/>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerContentBinding
            viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <contentExtension
                  pattern="org.eclipse.vtp.desktop.projects.voice.navigatorContent1"/>
         </includes>
      </viewerContentBinding>
      <viewerActionBinding
            viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <actionExtension
                  pattern="org.eclipse.vtp.desktop.projects.voice.audio">
            </actionExtension>
         </includes>
      </viewerActionBinding>
   </extension>
<extension
      point="org.eclipse.ui.navigator.navigatorContent">
   <navigatorContent
         activeByDefault="true"
         contentProvider="org.eclipse.vtp.desktop.projects.interactive.core.view.MediaProjectContentProvider"
         id="org.eclipse.vtp.desktop.projects.voice.navigatorContent1"
         labelProvider="org.eclipse.vtp.desktop.projects.interactive.core.view.MediaProjectLabelProvider"
         name="Voice Project Content Provider"
         priority="high">
      <triggerPoints>
         <or>
            <adapt
                  type="org.eclipse.core.resources.IProject">
               <test
                     property="org.eclipse.core.resources.projectNature"
                     value="org.eclipse.vtp.desktop.model.interactive.voice.VoiceProjectNature">
               </test>
            </adapt>
            <instanceof
                  value="org.eclipse.vtp.desktop.model.interactive.core.IMediaObject">
            </instanceof>
         </or>
      </triggerPoints>
      <possibleChildren>
         <or>
            <instanceof
                  value="org.eclipse.vtp.desktop.model.interactive.core.IMediaObject">
            </instanceof>
            <instanceof
                  value="org.eclipse.core.resources.IResource">
            </instanceof>
         </or>
      </possibleChildren>
      <override
            policy="InvokeAlwaysRegardlessOfSuppressedExt"
            suppressedExtensionId="org.eclipse.ui.navigator.resourceContent">
      </override>
      <commonSorter
            class="org.eclipse.vtp.desktop.projects.interactive.core.view.MediaViewerSorter"
            id="org.eclipse.vtp.desktop.projects.interactive.core.view.MediaViewerSorter">
         <parentExpression>
            <or>
               <adapt
                     type="org.eclipse.core.resources.IProject">
                  <test
                        property="org.eclipse.core.resources.projectNature"
                        value="org.eclipse.vtp.desktop.model.interactive.voice.VoiceProjectNature">
                  </test>
               </adapt>
               <instanceof
                     value="org.eclipse.vtp.desktop.model.interactive.core.IMediaObject">
               </instanceof>
            </or>
         </parentExpression>
      </commonSorter>
      <dropAssistant
            class="org.eclipse.vtp.desktop.projects.interactive.core.view.MediaFileDropAssistant"
            id="org.eclipse.vtp.desktop.projects.voice.mediafiledropassist">
         <possibleDropTargets>
            <or>
               <instanceof
                     value="org.eclipse.vtp.desktop.model.interactive.core.IMediaContainer">
               </instanceof>
               <instanceof
                     value="org.eclipse.vtp.desktop.model.interactive.core.IMediaFile">
               </instanceof>
            </or>
         </possibleDropTargets>
      </dropAssistant>
      <commonWizard
            menuGroupId="group.new"
            type="new"
            wizardId="org.eclipse.vtp.desktop.projects.interactive.core.grammarwizard">
         <enablement>
            <or>
               <instanceof
                     value="org.eclipse.vtp.desktop.model.interactive.core.IMediaContainer">
               </instanceof>
               <instanceof
                     value="org.eclipse.vtp.desktop.model.interactive.core.IMediaFile">
               </instanceof>
            </or></enablement>
      </commonWizard>
      <commonWizard
            menuGroupId="group.new"
            type="new"
            wizardId="org.eclipse.vtp.desktop.projects.interactive.core.mediafolder">
         <enablement>
            <or>
               <instanceof
                     value="org.eclipse.vtp.desktop.model.interactive.core.IMediaContainer">
               </instanceof>
               <instanceof
                     value="org.eclipse.vtp.desktop.model.interactive.core.IMediaFile">
               </instanceof>
            </or></enablement>
      </commonWizard>
      <actionProvider
            class="org.eclipse.ui.internal.navigator.resources.actions.NewActionProvider"
            overrides="org.eclipse.ui.navigator.resources.NewActions">
         <enablement>
            <and>
               <instanceof
                     value="org.eclipse.vtp.desktop.model.interactive.core.IMediaObject">
               </instanceof>
            </and>
         </enablement>
      </actionProvider>
      <actionProvider
            class="org.eclipse.vtp.desktop.projects.interactive.core.view.EditActionProvider"
            id="org.eclipse.vtp.desktop.projects.interactive.core.view.EditActionProvider"
            priority="normal">
         <enablement>
            <or>
               <instanceof
                     value="org.eclipse.vtp.desktop.model.interactive.core.IMediaFolder">
               </instanceof>
               <instanceof
                     value="org.eclipse.vtp.desktop.model.interactive.core.IMediaFile">
               </instanceof>
            </or>
         </enablement>
      </actionProvider>
	   <actionProvider
	         class="org.eclipse.vtp.desktop.projects.voice.actions.AudioActionProvider"
	         id="org.eclipse.vtp.desktop.projects.voice.audio"
	         priority="normal">
	      <enablement>
	         <instanceof
	               value="org.eclipse.vtp.desktop.model.interactive.voice.IAudioFile">
	         </instanceof>
	      </enablement>
	   </actionProvider>
    <actionProvider
          class="org.eclipse.vtp.desktop.projects.core.view.RefactorActionProvider"
          id="org.eclipse.vtp.desktop.projects.voice.RefactorActionProvider">
       <enablement>
          <or>
             <instanceof
                   value="org.eclipse.vtp.desktop.model.interactive.core.IMediaFolder">
             </instanceof>
             <instanceof
                   value="org.eclipse.vtp.desktop.model.interactive.core.IMediaFile">
             </instanceof>
          </or>
       </enablement>
    </actionProvider>
   </navigatorContent>
</extension>
</plugin>
