<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.vtp.desktop.model.core.configurationContexts">
      <context
            class="com.openmethods.openvxml.desktop.model.branding.internal.BrandContext"
            id="com.openmethods.openvxml.desktop.model.branding.brandcontext">
      </context>
      <context-binding
            context-id="com.openmethods.openvxml.desktop.model.branding.brandcontext"
            filter-class="org.eclipse.vtp.desktop.model.core.IOpenVXMLProject">
      </context-binding>
   </extension>
   <extension
         point="org.eclipse.vtp.desktop.model.core.projectAspects">
      <aspect
            factory="com.openmethods.openvxml.desktop.model.branding.internal.BrandingProjectAspectFactory"
            id="com.openmethods.openvxml.desktop.model.aspect.branding">
      </aspect>
   </extension>

</plugin>
