<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.vtp.desktop.model.core.projectAspects">
      <aspect
            factory="com.openmethods.openvxml.desktop.model.databases.internal.DatabaseProjectAspectFactory"
            id="com.openmethods.openvxml.desktop.model.aspect.databasesupport">
      </aspect>
   </extension>

</plugin>
