<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.vtp.desktop.model.elements.core.dialogElement">
      <dialog-element
            id="org.eclipse.vtp.desktop.model.interactive.core.menudialog"
            name="Menu Dialog"
            template="dialogs/SimpleMenu.dialog"/>
      <dialog-element
            id="org.eclipse.vtp.desktop.model.interactive.core.fielddialog"
            name="Field Dialog"
            template="dialogs/SimpleField.dialog"/>
   </extension>
   <extension
         point="org.eclipse.vtp.desktop.model.elements.core.primitiveElement">
      <primitive
            filter="org.eclipse.vtp.modules.interactive.ui.views.InteractiveOnlyPalletItemFilter"
            icon="icons/optionset.png"
            id="org.eclipse.vtp.modules.interactive.optionSet"
            name="Option Set">
         <information_provider class="org.eclipse.vtp.modules.interactive.ui.OptionSetInformationProvider"/>
      </primitive>
      <primitive
            filter="org.eclipse.vtp.modules.interactive.ui.views.InteractiveOnlyPalletItemFilter"
            icon="icons/question.gif"
            id="org.eclipse.vtp.modules.interactive.question"
            name="Question">
         <information_provider
               class="org.eclipse.vtp.modules.interactive.ui.QuestionInformationProvider">
         </information_provider>
      </primitive>
      <primitive
            filter="org.eclipse.vtp.modules.interactive.ui.views.InteractiveOnlyPalletItemFilter"
            icon="icons/playprompt.png"
            id="org.eclipse.vtp.modules.interactive.playPrompt"
            name="PlayPrompt">
         <information_provider
               class="org.eclipse.vtp.modules.interactive.ui.PlayPromptInformationProvider">
         </information_provider>
      </primitive>
      <primitive
            filter="org.eclipse.vtp.modules.interactive.ui.views.InteractiveOnlyPalletItemFilter"
            icon="icons/transfer.png"
            id="org.eclipse.vtp.modules.interactive.advancedtransfer"
            name="Transfer">
         <information_script
               acceptsConnectors="true"
               canDelete="true">
            <exit_points>
               <exit_point
                     name="Call Transfered"
                     type="EXIT_POINT"/>
               <exit_point
                     name="Line Busy"
                     type="EXIT_POINT"/>
               <exit_point
                     name="No Answer"
                     type="EXIT_POINT"/>
               <exit_point
                     name="error.connection.noauthorization"
                     type="ERROR_POINT"/>
               <exit_point
                     name="error.connection.baddestination"
                     type="ERROR_POINT"/>
               <exit_point
                     name="error.connection.noroute"
                     type="ERROR_POINT"/>
               <exit_point
                     name="error.connection.noresource"
                     type="ERROR_POINT"/>
               <exit_point
                     name="error.connection.protocol"
                     type="ERROR_POINT"/>
               <exit_point
                     name="error.unsupported.transfer.bridge"
                     type="ERROR_POINT"/>
               <exit_point
                     name="error.unsupported.uri"
                     type="ERROR_POINT"/>
               <exit_point
                     name="error.disconnect.hangup"
                     type="ERROR_POINT">
               </exit_point>
            </exit_points>
            <business-objects></business-objects>
            <variables></variables>
         </information_script>
      </primitive>
      <primitive
            filter="org.eclipse.vtp.modules.interactive.ui.views.InteractiveOnlyPalletItemFilter"
            icon="icons/subdialog.gif"
            id="org.eclipse.vtp.modules.interactive.subdialog"
            name="Subdialog">
         <information_provider class="org.eclipse.vtp.modules.interactive.ui.SubdialogInformationProvider"/>
      </primitive>
      <primitive
            filter="org.eclipse.vtp.modules.interactive.ui.views.InteractiveOnlyPalletItemFilter"
            icon="icons/record.png"
            id="org.eclipse.vtp.modules.interactive.record"
            name="Record">
         <information_provider class="org.eclipse.vtp.modules.interactive.ui.RecordInformationProvider"/>
      </primitive>
   </extension>
   <extension
         point="org.eclipse.vtp.desktop.model.elements.core.primitiveElementExporter">
      <primitive-configuration-exporter
            class="org.eclipse.vtp.modules.interactive.ui.export.AdvancedTransferConfigurationExporter"
            id="org.eclipse.vtp.modules.interactive.advancedtransfer">
      </primitive-configuration-exporter>
      <primitive-configuration-exporter
            class="org.eclipse.vtp.modules.interactive.ui.export.OptionSetConfigurationExporter"
            id="org.eclipse.vtp.modules.interactive.optionSet">
      </primitive-configuration-exporter>
      <primitive-configuration-exporter
            class="org.eclipse.vtp.modules.interactive.ui.export.PlayPromptConfigurationExporter"
            id="org.eclipse.vtp.modules.interactive.playPrompt">
      </primitive-configuration-exporter>
      <primitive-configuration-exporter
            class="org.eclipse.vtp.modules.interactive.ui.export.QuestionConfigurationExporter"
            id="org.eclipse.vtp.modules.interactive.question">
      </primitive-configuration-exporter>
      <primitive-configuration-exporter
            class="org.eclipse.vtp.modules.interactive.ui.export.RecordConfigurationExporter"
            id="org.eclipse.vtp.modules.interactive.record">
      </primitive-configuration-exporter>
      <primitive-configuration-exporter
            class="org.eclipse.vtp.modules.interactive.ui.export.SubdialogConfigurationExporter"
            id="org.eclipse.vtp.modules.interactive.subdialog">
      </primitive-configuration-exporter>
   </extension>
   <extension
         point="org.eclipse.vtp.desktop.editors.core.componentPropertiesPanelProvider">
      <provider
            class="org.eclipse.vtp.modules.interactive.ui.properties.AdvancedTransferComponentPropertiesPanelProvider">
      </provider>
      <provider
            class="org.eclipse.vtp.modules.interactive.ui.properties.OptionSetComponentPropertiesPanelProvider">
      </provider>
      <provider
            class="org.eclipse.vtp.modules.interactive.ui.properties.PlayPromptComponentPropertiesPanelProvider">
      </provider>
      <provider
            class="org.eclipse.vtp.modules.interactive.ui.properties.QuestionComponentPropertiesPanelProvider">
      </provider>
      <provider
            class="org.eclipse.vtp.modules.interactive.ui.properties.RecordComponentPropertiesPanelProvider">
      </provider>
      <provider
            class="org.eclipse.vtp.modules.interactive.ui.properties.SubdialogComponentPropertiesPanelProvider">
      </provider>
      <provider
            class="org.eclipse.vtp.modules.interactive.ui.properties.BeginComponentPropertiesPanelProvider">
      </provider>
   </extension>
   <extension
         point="com.openmethods.openvxml.desktop.model.workflow.configurationManagers">
      <configuration-manager
            class="org.eclipse.vtp.modules.interactive.ui.properties.MenuChoiceBindingManager"
            id="org.eclipse.vtp.configuration.menuchoice">
      </configuration-manager>
   </extension>
</plugin>
