<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="org.eclipse.vtp.desktop.projects.core.wizards"
            class="org.eclipse.vtp.desktop.projects.interactive.core.wizards.CreateGrammarWizard"
            id="org.eclipse.vtp.desktop.projects.interactive.core.grammarwizard"
            name="Grammar"
            project="false">
         <selection
               class="org.eclipse.vtp.desktop.model.interactive.core.IMediaContainer">
         </selection>
         <selection
               class="org.eclipse.vtp.desktop.model.interactive.core.IMediaFile">
         </selection>
      </wizard>
      <wizard
            category="org.eclipse.vtp.desktop.projects.core.wizards"
            class="org.eclipse.vtp.desktop.projects.interactive.core.wizards.CreateMediaFolderWizard"
            id="org.eclipse.vtp.desktop.projects.interactive.core.mediafolder"
            name="Media Folder"
            project="false">
         <selection
               class="org.eclipse.vtp.desktop.model.interactive.core.IMediaContainer">
         </selection>
         <selection
               class="org.eclipse.vtp.desktop.model.interactive.core.IMediaFile">
         </selection>
      </wizard>
      <wizard
            category="org.eclipse.vtp.desktop.projects.core.wizards"
            class="org.eclipse.vtp.desktop.projects.interactive.core.wizards.CreateInteractiveWorkflowProjectWizard"
            id="org.eclipse.vtp.desktop.projects.interactive.core.interactiveworkflow"
            name="Interactive Workflow"
            project="true">
      </wizard>
      <wizard
            category="org.eclipse.vtp.desktop.projects.core.wizards"
            class="org.eclipse.vtp.desktop.projects.interactive.core.wizards.CreateUmbrellaProjectWizard"
            id="org.eclipse.vtp.desktop.projects.interactive.core.umbrella"
            name="Umbrella Project"
            project="true">
      </wizard>
      <wizard
            category="org.eclipse.vtp.desktop.projects.core.wizards"
            class="org.eclipse.vtp.desktop.projects.interactive.core.wizards.CreateMediaLibraryWizard"
            id="org.eclipse.vtp.desktop.projects.interactive.core.medialibrary"
            name="Media Library"
            project="false">
         <selection
               class="org.eclipse.vtp.desktop.model.interactive.core.IMediaLibrariesFolder">
         </selection>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="org.eclipse.vtp.desktop.projects.interactive.core.properties.ApplicationProjectMediaDefaultsPropertyPage"
            id="org.eclipse.vtp.desktop.projects.interactive.core.mediadefaults"
            name="Media Defaults">
         <enabledWhen>
            <adapt
                  type="org.eclipse.core.resources.IProject">
               <test
                     property="org.eclipse.core.resources.projectNature"
                     value="org.eclipse.vtp.desktop.model.interactive.core.InteractiveWorkflowProjectNature">
               </test>
            </adapt>
         </enabledWhen>
      </page>
      <page
            class="org.eclipse.vtp.desktop.projects.interactive.core.properties.ApplicationProjectConfigurationPropertyPage"
            id="org.eclipse.vtp.desktop.projects.interactive.core.appproperties"
            name="Build Path">
         <enabledWhen>
            <adapt
                  type="org.eclipse.core.resources.IProject">
               <test
                     property="org.eclipse.core.resources.projectNature"
                     value="org.eclipse.vtp.desktop.model.interactive.core.InteractiveWorkflowProjectNature">
               </test>
            </adapt>
         </enabledWhen>
      </page>
	</extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerContentBinding
            viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <contentExtension
                  pattern="org.eclipse.vtp.desktop.projects.interactive.core.navigatorContent1"/>
         </includes>
      </viewerContentBinding>
      <viewerActionBinding
            viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <actionExtension
                  pattern="com\.openmethods\.openvxml\.actions\.replication">
            </actionExtension>
         </includes>
      </viewerActionBinding>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <actionProvider
            class="org.eclipse.vtp.desktop.projects.interactive.core.view.ReplicateActionProvider"
            id="com.openmethods.openvxml.actions.replication">
         <enablement>
            <and>
               <instanceof
                     value="org.eclipse.core.resources.IProject">
               </instanceof>
               <test
                     property="org.eclipse.vtp.desktop.projects.interactive">
               </test>
            </and>
         </enablement>
      </actionProvider>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.eclipse.vtp.desktop.projects.interactive.core.view.InteractiveWorkflowTest"
            id="org.eclipse.vtp.desktop.projects.interactive.core.testInteractiveProject"
            namespace="org.eclipse.vtp.desktop.projects"
            properties="interactive"
            type="org.eclipse.core.resources.IResource">
      </propertyTester>
   </extension>
<!--   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            activeByDefault="true"
            id="org.eclipse.vtp.desktop.projects.core.navigatorContent1"
            name="Interactive Workflow Content Provider"
            priority="high">
         <triggerPoints>
         	<or>
	            <adapt type="org.eclipse.core.resources.IProject">
	               <test property="org.eclipse.core.resources.projectNature"
	                     value="org.eclipse.vtp.desktop.model.interactive.core.InteractiveWorkflowProjectNature"/>
	            </adapt>
	        </or>
         </triggerPoints>
      </navigatorContent>
   </extension>-->
</plugin>
