<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
    <extension-point id="mediaFileTypes" name="Eclipse Voice Tools Media File Types" schema="schema/mediaFileTypes.exsd"/>
    <extension-point id="mediaProjects" name="Eclipse Voice Tools Media Project Types" schema="schema/mediaProjects.exsd"/>
	<extension-point id="bindingTypes" name="OpenVXML Generic Configuration Binding Types" schema="schema/bindingTypes.exsd"/>
	<extension-point id="defaultSettings" name="OpenVXML Default Settings Groups" schema="schema/defaultSettings.exsd"/>
   
   <extension
         point="org.eclipse.vtp.desktop.model.interactive.core.mediaFileTypes">
      <media-type
            class="org.eclipse.vtp.desktop.model.interactive.core.internal.GrammarFileFactory"
            id="org.eclipse.vtp.desktop.model.interactive.core.mediafile.grammar"
            type-name="Grammar File">
         <mapping extension="grxml"/>
         <mapping extension="gram"/>
         <mapping
               extension="grammar"/>
         <mapping
               extension="gsl"
               />
         <mapping
               extension="abnf">
         </mapping>
      </media-type>
   </extension>
   <extension
         point="org.eclipse.vtp.desktop.model.interactive.core.bindingTypes">
      <binding-type
            class="org.eclipse.vtp.desktop.model.interactive.core.configuration.generic.GrammarBindingItem"
            id="org.eclipse.vtp.configuration.generic.items.grammar">
      </binding-type>
      <binding-type
            class="org.eclipse.vtp.desktop.model.interactive.core.configuration.generic.PromptBindingItem"
            id="org.eclipse.vtp.configuration.generic.items.prompt">
      </binding-type>
      <binding-type
            class="org.eclipse.vtp.desktop.model.interactive.core.configuration.generic.PropertyBindingItem"
            id="org.eclipse.vtp.configuration.generic.items.property">
      </binding-type>
   </extension>
   <extension
         id="MediaProjectBuilder"
         name="Media project Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="false">
         <run
               class="org.eclipse.vtp.desktop.model.interactive.core.builders.MediaProjectBuilder">
         </run>
      </builder>
   </extension>
   <extension
         point="org.eclipse.vtp.desktop.model.core.configurationContexts">
      <context
            class="org.eclipse.vtp.desktop.model.interactive.core.internal.context.InteractionTypeContext"
            id="org.eclipse.vtp.desktop.model.interactive.core.interactiontypecontext">
      </context>
      <context-binding
            context-id="org.eclipse.vtp.desktop.model.interactive.core.interactiontypecontext"
            filter-class="org.eclipse.vtp.desktop.model.interactive.core.IInteractiveProjectAspect">
      </context-binding>
      <context
            class="org.eclipse.vtp.desktop.model.interactive.core.internal.context.LanguageContext"
            id="org.eclipse.vtp.desktop.model.interactive.core.languagecontext">
      </context>
      <context-binding
            context-id="org.eclipse.vtp.desktop.model.interactive.core.languagecontext"
            filter-class="org.eclipse.vtp.desktop.model.interactive.core.IInteractiveProjectAspect">
      </context-binding>
   </extension>
   <extension
         point="com.openmethods.openvxml.desktop.model.workflow.configurationManagers">
      <configuration-manager
            class="org.eclipse.vtp.desktop.model.interactive.core.configuration.generic.GenericBindingManager"
            id="org.eclipse.vtp.configuration.generic">
      </configuration-manager>
   </extension>
   <extension
         point="org.eclipse.vtp.desktop.model.core.projectAspects">
      <aspect
            factory="org.eclipse.vtp.desktop.model.interactive.core.internal.InteractiveProjectAspectFactory"
            id="com.openmethods.openvxml.desktop.model.aspect.interactive">
      </aspect>
      <aspect
            factory="org.eclipse.vtp.desktop.model.interactive.core.internal.LanguageSupportProjectAspectFactory"
            id="com.openmethods.openvxml.desktop.model.aspect.languagesupport">
      </aspect>
      <aspect
            factory="org.eclipse.vtp.desktop.model.interactive.core.internal.UmbrellaProjectAspectFactory"
            id="com.openmethods.openvxml.desktop.model.aspect.umbrella">
      </aspect>
   </extension>
</plugin>
