<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension-point id="legacyElementConverters" name="OpenVXML Legacy Model Element Converters" schema="schema/legacyElementConverters.exsd"/>
	<extension-point id="modelConverters" name="OpenVXML Model Converters" schema="schema/modelConverters.exsd"/>
	<extension-point id="legacyConfigurationManagerConverters" name="OpenVXML Legacy Configuration Manager Converters" schema="schema/legacyConfigurationManagerConverters.exsd"/>
	<extension-point id="configurationManagerConverters" name="OpenVXML Configuration Manager Converters" schema="schema/configurationManagerConverters.exsd"/>
	<extension-point id="elementConverters" name="OpenVXML Element Converters" schema="schema/elementConverters.exsd"/>
   <extension
         point="org.eclipse.vtp.desktop.model.legacy.legacyConfigurationManagerConverters">
      <configuration-manager-converter
            class="org.eclipse.vtp.desktop.model.legacy.v3_xTo3_X.legacysupport.MediaBindingLegacyConverter"
            xml-element="bindings"
            xml-namespace="http://eclipse.org/vtp/xml/configuration/media">
      </configuration-manager-converter>
      <configuration-manager-converter
            class="org.eclipse.vtp.desktop.model.legacy.v3_xTo3_X.legacysupport.AttachedDataMessageBindingLegacyConverter"
            xml-element="bindings"
            xml-namespace="http://eclipse.org/vtp/xml/configuration/attacheddata">
      </configuration-manager-converter>
      <configuration-manager-converter
            class="org.eclipse.vtp.desktop.model.legacy.v3_xTo3_X.legacysupport.AttachedDataRequestBindingLegacyConverter"
            xml-element="bindings"
            xml-namespace="http://eclipse.org/vtp/xml/configuration/attacheddata/request">
      </configuration-manager-converter>
   </extension>
   <extension
         point="org.eclipse.vtp.desktop.model.legacy.modelConverters">
      <model-converter
            class="org.eclipse.vtp.desktop.model.legacy.v3_xTo3_X.legacysupport.ModelV0_V1Converter"
            xml-version="0.0.0">
      </model-converter>
      <model-converter
            class="org.eclipse.vtp.desktop.model.legacy.v3_xTo3_X.legacysupport.AdvancedTransferLegacyConverter"
            xml-version="1.0.0">
      </model-converter>
      <model-converter
            class="org.eclipse.vtp.desktop.model.legacy.v3_xTo3_X.legacysupport.OptionSetLegacyConverter"
            xml-version="1.0.0">
      </model-converter>
   </extension>
   <extension
         point="org.eclipse.vtp.desktop.model.legacy.configurationManagerConverters">
      <configuration-manager-converter
            class="org.eclipse.vtp.desktop.model.legacy.v3_xTo3_X.update.OldMediaToGenericConverter"
            type="org.eclipse.vtp.configuration.media"
            version="0.0.0">
      </configuration-manager-converter>
   </extension>
   <extension
         point="org.eclipse.vtp.desktop.model.legacy.legacyElementConverters">
      <legacy-element-converter
            class="org.eclipse.vtp.desktop.model.legacy.v3_xTo3_X.legacysupport.PrimitiveElementLegacyConverter"
            xml-element="primitive-element"
            xml-namespace=""/>
      <legacy-element-converter
            class="org.eclipse.vtp.desktop.model.legacy.v3_xTo3_X.legacysupport.DialogElementLegacyConverter"
            xml-element="dialog-element"
            xml-namespace=""/>
      <legacy-element-converter
            class="org.eclipse.vtp.desktop.model.legacy.v3_xTo3_X.legacysupport.ApplicationFragmentElementLegacyConverter"
            xml-element="fragment-element"
            xml-namespace=""/>
      <legacy-element-converter
            class="org.eclipse.vtp.desktop.model.legacy.v3_xTo3_X.legacysupport.CustomIntegrationElementLegacyConverter"
            xml-element="custom-integration-element"
            xml-namespace=""/>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerActionBinding
            viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <actionExtension
                  pattern="org.eclipse.vtp.desktop.model.legacy.convertaction">
            </actionExtension>
         </includes>
      </viewerActionBinding>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <actionProvider
            class="org.eclipse.vtp.desktop.model.legacy.v3_xTo4_0.view.ConvertActionProvider"
            id="org.eclipse.vtp.desktop.model.legacy.convertaction"
            priority="normal">
         <enablement>
            <or>
               <adapt
                     type="org.eclipse.core.resources.IProject">
                  <test
                        property="org.eclipse.core.resources.projectNature"
                        value="org.eclipse.vtp.desktop.projects.core.VoiceApplicationNature">
                  </test>
               </adapt>
               <adapt
                     type="org.eclipse.core.resources.IProject">
                  <test
                        property="org.eclipse.core.resources.projectNature"
                        value="org.eclipse.vtp.desktop.projects.core.VoiceApplicationFragmentNature">
                  </test>
               </adapt>
            </or>
         </enablement>
      </actionProvider>
      <actionProvider
            class="org.eclipse.vtp.desktop.model.legacy.v4_0To5_0.view.ConvertActionProvider"
            id="org.eclipse.vtp.desktop.model.legacy.convertaction"
            priority="normal">
         <enablement>
            <or>
               <adapt
                     type="org.eclipse.core.resources.IProject">
                  <test
                        property="org.eclipse.core.resources.projectNature"
                        value="org.eclipse.vtp.desktop.model.core.WorkflowProjectNature">
                  </test>
               </adapt>
               <adapt
                     type="org.eclipse.core.resources.IProject">
                  <test
                        property="org.eclipse.core.resources.projectNature"
                        value="org.eclipse.vtp.desktop.model.interactive.core.InteractiveWorkflowProjectNature">
                  </test>
               </adapt>
               <adapt
                     type="org.eclipse.core.resources.IProject">
                  <test
                        property="org.eclipse.core.resources.projectNature"
                        value="org.eclipse.vtp.desktop.model.interactive.voice.VoiceProjectNature">
                  </test>
               </adapt>
            </or>
         </enablement>
      </actionProvider>
   </extension>
</plugin>
