<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.vtp.desktop.model.elements.core.primitiveElement">
      <primitive
            icon="icons/javascript_view.gif"
            id="org.eclipse.vtp.modules.standard.ui.script"
            name="Script">
         <information_provider class="org.eclipse.vtp.modules.standard.ui.ScriptInformationProvider"/>
      </primitive>
      <primitive
            filter="org.eclipse.vtp.modules.standard.ui.views.ExcludePalletItemFilter"
            icon="icons/begin.png"
            id="org.eclipse.vtp.modules.standard.ui.modelEntry"
            name="Entry">
         <information_provider class="org.eclipse.vtp.modules.standard.ui.BeginDialogInformationProvider"/>
      </primitive>
      <primitive
            icon="icons/decision.gif"
            id="org.eclipse.vtp.modules.standard.ui.decision"
            name="Decision">
         <information_provider
               class="org.eclipse.vtp.modules.standard.ui.ComparisonInformationProvider">
         </information_provider>
      </primitive>
      <primitive
            filter="org.eclipse.vtp.modules.standard.ui.views.NonDialogPalletItemFilter"
            icon="icons/portal_entry.gif"
            id="org.eclipse.vtp.modules.standard.ui.portalEntry"
            name="Portal Entry"
            pop-on-drop="true">
         <information_provider
               class="org.eclipse.vtp.modules.standard.ui.PortalEntryInformationProvider">
         </information_provider>
      </primitive>
      <primitive
            filter="org.eclipse.vtp.modules.standard.ui.views.NonDialogPalletItemFilter"
            icon="icons/portal_exit.gif"
            id="org.eclipse.vtp.modules.standard.ui.portalExit"
            name="Portal Exit"
            pop-on-drop="true">
         <information_provider class="org.eclipse.vtp.modules.standard.ui.PortalExitInformationProvider"/>
      </primitive>
      <primitive
            filter="org.eclipse.vtp.modules.standard.ui.views.DialogOnlyPalletItemFilter"
            icon="icons/end.png"
            id="org.eclipse.vtp.modules.standard.ui.exit"
            name="Exit"
            pop-on-drop="true">
         <information_provider
               class="org.eclipse.vtp.modules.standard.ui.ExitInformationProvider">
         </information_provider>
      </primitive>
      <primitive
            filter="org.eclipse.vtp.modules.standard.ui.views.NonDialogPalletItemFilter"
            icon="icons/end.png"
            id="org.eclipse.vtp.modules.standard.ui.return"
            name="Return"
            pop-on-drop="false">
         <information_provider
               class="org.eclipse.vtp.modules.standard.ui.ReturnInformationProvider">
         </information_provider>
      </primitive>
      <primitive
            filter="org.eclipse.vtp.modules.standard.ui.views.NonDialogPalletItemFilter"
            icon="icons/begin.png"
            id="org.eclipse.vtp.modules.standard.ui.appbegin"
            name="Begin">
         <information_provider
               class="org.eclipse.vtp.modules.standard.ui.BeginInformationProvider">
         </information_provider>
      </primitive>
      <primitive
            icon="icons/variable.gif"
            id="org.eclipse.vtp.modules.standard.ui.assignment"
            name="Variable Assignment">
         <information_provider
               class="org.eclipse.vtp.modules.standard.ui.VariableAssignmentInformationProvider">
         </information_provider>
      </primitive>
      <primitive
            icon="icons/decision.gif"
            id="org.eclipse.vtp.modules.standard.ui.branch"
            name="Branch">
         <information_provider
               class="org.eclipse.vtp.modules.standard.ui.BranchInformationProvider">
         </information_provider>
      </primitive>
      <primitive
            id="org.eclipse.vtp.modules.standard.ui.broadcastreceiver"
            name="Broadcast Receiver">
         <information_provider
               class="org.eclipse.vtp.modules.standard.ui.BroadcastReceiverInformationProvider">
         </information_provider>
      </primitive>
   </extension>
   <extension
         point="org.eclipse.vtp.desktop.model.elements.core.primitiveElementExporter">
      <primitive-configuration-exporter
            class="org.eclipse.vtp.modules.standard.ui.export.AssignmentConfigurationExporter"
            id="org.eclipse.vtp.modules.standard.ui.assignment">
      </primitive-configuration-exporter>
      <primitive-configuration-exporter
            class="org.eclipse.vtp.modules.standard.ui.export.DecisionConfigurationExporter"
            id="org.eclipse.vtp.modules.standard.ui.decision">
      </primitive-configuration-exporter>
      <primitive-configuration-exporter
            class="org.eclipse.vtp.modules.standard.ui.export.DialogEntryConfigurationExporter"
            id="org.eclipse.vtp.modules.standard.ui.modelEntry">
      </primitive-configuration-exporter>
      <primitive-configuration-exporter
            class="org.eclipse.vtp.modules.standard.ui.export.DialogExitConfigurationExporter"
            id="org.eclipse.vtp.modules.standard.ui.exit">
      </primitive-configuration-exporter>
      <primitive-configuration-exporter
            class="org.eclipse.vtp.modules.standard.ui.export.FinalActionConfigurationExporter"
            id="org.eclipse.vtp.modules.standard.ui.return">
      </primitive-configuration-exporter>
      <primitive-configuration-exporter
            class="org.eclipse.vtp.modules.standard.ui.export.InitialAssignmentConfigurationExporter"
            id="org.eclipse.vtp.modules.standard.ui.appbegin">
      </primitive-configuration-exporter>
      <primitive-configuration-exporter
            class="org.eclipse.vtp.modules.standard.ui.export.PortalConfigurationExporter"
            id="org.eclipse.vtp.modules.standard.ui.portalExit">
      </primitive-configuration-exporter>
      <primitive-configuration-exporter
            class="org.eclipse.vtp.modules.standard.ui.export.PortalEntryConfigurationExporter"
            id="org.eclipse.vtp.modules.standard.ui.portalEntry">
      </primitive-configuration-exporter>
      <primitive-configuration-exporter
            class="org.eclipse.vtp.modules.standard.ui.export.ScriptConfigurationExporter"
            id="org.eclipse.vtp.modules.standard.ui.script">
      </primitive-configuration-exporter>
      <primitive-configuration-exporter
            class="org.eclipse.vtp.modules.standard.ui.export.BranchConfigurationExporter"
            id="org.eclipse.vtp.modules.standard.ui.branch">
      </primitive-configuration-exporter>
      <primitive-configuration-exporter
            class="org.eclipse.vtp.modules.standard.ui.export.BroadcastReceiverConfigurationExporter"
            id="org.eclipse.vtp.modules.standard.ui.broadcastreceiver">
      </primitive-configuration-exporter>
   </extension>
   <extension
         point="org.eclipse.vtp.desktop.editors.core.componentPropertiesPanelProvider">
      <provider
            class="org.eclipse.vtp.modules.standard.ui.properties.BeginComponentPropertiesPanelProvider">
      </provider>
      <provider
            class="org.eclipse.vtp.modules.standard.ui.properties.ComparisonComponentPropertiesPanelProvider">
      </provider>
      <provider
            class="org.eclipse.vtp.modules.standard.ui.properties.ExitComponentPropertiesPanelProvider">
      </provider>
      <provider
            class="org.eclipse.vtp.modules.standard.ui.properties.FragmentComponentPropertiesPanelProvider">
      </provider>
      <provider
            class="org.eclipse.vtp.modules.standard.ui.properties.PortalEntryComponentPropertiesPanelProvider">
      </provider>
      <provider
            class="org.eclipse.vtp.modules.standard.ui.properties.PortalExitComponentPropertiesPanelProvider">
      </provider>
      <provider
            class="org.eclipse.vtp.modules.standard.ui.properties.ReturnComponentPropertiesPanelProvider">
      </provider>
      <provider
            class="org.eclipse.vtp.modules.standard.ui.properties.ScriptComponentPropertiesPanelProvider">
      </provider>
      <provider
            class="org.eclipse.vtp.modules.standard.ui.properties.VariableAssignmentComponentPropertiesPanelProvider">
      </provider>
      <provider
            class="org.eclipse.vtp.modules.standard.ui.properties.BranchComponentPropertiesPanelProvider">
      </provider>
      <provider
            class="org.eclipse.vtp.modules.standard.ui.properties.BroadcastReceiverPropertiesPanelProvider">
      </provider>
   </extension>
   <extension
         point="org.eclipse.vtp.desktop.editors.core.designElementAction">
      <element-action
            action-class="org.eclipse.vtp.modules.standard.ui.actions.JumpToPortalExitAction"
            filter-class="org.eclipse.vtp.modules.standard.ui.actions.JumpToPortalExitActionFilter">
      </element-action>
   </extension>

</plugin>
