<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="elementType" name="OpenVXML Editor Element Type" schema="schema/elementType.exsd"/>
   <extension-point id="configurationManagers" name="OpenVXML Element Configuration Managers" schema="schema/configurationManagers.exsd"/>

   <extension
         id="WorkflowProjectBuilder"
         name="Workflow Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="false">
         <run
               class="com.openmethods.openvxml.desktop.model.workflow.builders.WorkflowProjectBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="workflowmarker"
         name="Workflow Marker"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
</plugin>
