<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.eclipse.vtp.desktop.editors.voice.editor.VoiceEditor"
            contributorClass="org.eclipse.vtp.desktop.editors.voice.editor.VoiceEditorContributor"
            default="true"
            filenames="Voice.xml"
            icon="icons/sample.gif"
            id="org.eclipse.vtp.desktop.editors.voice.editor.VoiceEditor"
            name="Voice Project Editor">
      </editor>
   </extension>
</plugin>
