<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.vtp.framework.core.services">
      <service
            id="com.openmethods.openvxml.platforms.vtop.services.platform"
            lazy="true"
            name="VTOP Platform"
            scope="execution"
            type="com.openmethods.openvxml.platforms.vtop.VTOPPlatform">
         <identifier
               name="org.eclipse.vtp.framework.interactions.core.platforms.IPlatform">
            <qualifier
                  name="MODE=VTOP">
            </qualifier>
         </identifier>
      </service>
   </extension>

</plugin>
