<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   
   <extension
         point="org.eclipse.vtp.framework.core.services">
      <service
            id="com.openmethods.openvxml.platforms.avp.services.platform"
            type="com.openmethods.openvxml.platforms.avp.services.AvpPlatform"
            name="AVP Platform"
            scope="execution"
            lazy="true">
         <identifier
               name="org.eclipse.vtp.framework.interactions.core.platforms.IPlatform">
            <qualifier
                  name="MODE=AVP">
            </qualifier>
         </identifier>
      </service>
      <service
            id="com.openmethods.openvxml.platforms.avp5.services.platform"
            type="com.openmethods.openvxml.platforms.avp.services.Avp5Platform"
            name="AVP v5 Platform"
            scope="execution"
            lazy="true">
         <identifier
               name="org.eclipse.vtp.framework.interactions.core.platforms.IPlatform">
            <qualifier
                  name="MODE=AVP5">
            </qualifier>
         </identifier>
      </service>
      <service
            id="com.openmethods.openvxml.platforms.avp.services.platform.sip"
            lazy="true"
            name="SIP AVP"
            scope="execution"
            type="com.openmethods.openvxml.platforms.avp.services.SIPAvpPlatform">
         <identifier
               name="org.eclipse.vtp.framework.interactions.core.platforms.IPlatform">
            <qualifier
                  name="MODE=AVPSIP">
            </qualifier>
         </identifier>
      </service>
   </extension>

</plugin>
